doctype html 
html
  head
    title Chinu Dance Academy 
    block scripts
    block style 
  body 
     nav#navbar 
      ul 
       div#logo 
        img.abc(src="/static/logofinal.png", alt="slow connection")
        div.acd CDA
        li #[a(href="/") Home ]
        li #[a(href="/") About ]
        li #[a(href="/") Services ]
        li #[a(href="/") Class info ]
        li #[a(href="/") Contact ]
     block content 
     block foot

     